.textbox {
  height: 25px;
  width: 200px;
  background-color: transparent;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: black;
  outline:0;
}

.textboxBody {
  background-color: transparent;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: black;
  outline:0;
}

.nav-links {
  padding-bottom: 3em;
  margin-top: -2em;
  float: right;
  padding-right: 2em;
  font-weight: bold;
}

.photos {
  height: 20em;
  width: 20em;
}
