<h1>Create, Edit or Delete Posts</h1>

{{new-post save2="save3"}}

{{#each model as |post|}}
<h3>{{post.title}}</h3>

<div class="edit">
  {{update-post post=post update="update"}}
  <button {{action 'destroyPost' post}} class="btn btn-danger" name="delete">Delete</button>
</div>
{{/each}}
