<h1>Create, Edit or Delete Posts</h1>

{{new-post save2="save3"}}

{{#each model as |post|}}
  {{post-tile post=post}}

  <div class="row" id="adminButtons">
    <div class="col-sm-6 text-center">
      {{update-post post=post update="update"}}
    </div>

    <div class="col-sm-6 text-center">
      <button {{action 'destroyPost' post}} class="btn btn-danger" name="delete">Delete</button>
    </div>
  </div>
{{/each}}
