<div class="jumbotron text-center">
  <div class="nav text-right">
    <h6 class="nav-links">{{#link-to 'admin'}}Admin{{/link-to}}</h6>
    <h6 class="nav-links">{{#link-to 'contact'}}Contact{{/link-to}}</h6>
    <h6 class="nav-links">{{#link-to 'about'}}About{{/link-to}}</h6>
    <h6 class="nav-links">{{#link-to 'index'}}Home{{/link-to}}</h6>
  </div>

  <h1 class="main-header">EpiBeers</h1>

  <p>A blog about coders who love to talk about beer</p>
</div>

<div class="container">
  {{outlet}}
</div>

<br>
<br>
<br>
<br>

<div class="footer text-center">
  <p>Copyright &copy; 2016 | Yvonna Contreras & Jared Beckler | Epicodus | Portland, OR</p>
</div>
