<h2>Contact Us!</h2>

<h4>We would love to hear from you!</h4>

<p>If you want to give us suggestions of beer to try and blog about, have suggestions, corrections, or options then please don't hesitate to contact us. We are extremely happy to hear from you and answer anything we possibly can.</p>

<p>jared@epibeersblog.com</p>
