<div class="text-center">
  <h1>Welcome to EpiBeers!</h1>

  <h3>Come and enjoy reading and talking about the wonderful beverage of beer with us and fellow beer enthusiasts.</h3>

  <h4>Site content coming very, very, very soon! Have a beer, wait a second...</h4>
</div>
