<div class="text-center">
  <h1>Welcome to EpiBeers!</h1>

  <h3>Come and enjoy reading and talking about the wonderful beverage of beer with us and fellow beer enthusiasts.</h3>

  <h2>Beer Posts:</h2>
      {{#each model as |post|}}
        <h1>{{post.title}}</h1>
        <h6>By: {{post.author}}</h6>
        <br>
        {{post-detail post=post}}
      {{/each}}
</div>
