<div class="text-center">
  {{post-tile post=model}}

  {{new-comment post=model saveComment2="saveComment3"}}

  {{#each model.comments as |comment|}}

    {{display-comment comment=comment deleteComment="deleteComment"}}

  {{/each}}
</div>
